<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="youlo0018" value="https://packages.aliyun.com/60a3d161ed4fd190de196ca5/nuget/youlo0018/index.json" />
  </packageSources>
  <config>
    <add key="certificateValidationWarnings" value="false" />
  </config>
</configuration>
